.cos-img{
    width: 100%;
    height:auto;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    filter: brightness(70%);
}
.cos-tit{
    text-align: center;
}
.cos-tit-h1{
    margin-top: 170px;
    margin-bottom: 40px;
    font-size: 100px;
    font-family: 'Montserrat', Courier, monospace;
    color:rgb(255, 255, 255);
}
.cos-tit-btn{
    padding:20px;
    border: 3px solid rgb(255, 255, 255);
    background: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Montserrat', Courier, monospace;
}
.cos-tit-btn:hover{
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.cos-content{
    margin-top: 600px;
}
.cos-content-main-h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Montserrat', Courier, monospace;
}
.cos-content-main-p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: 'Montserrat', Courier, monospace;
}
.cos-content2{
    margin: 40px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cos-content2-p{
    color: #ffffff;
    font-family:'montserrat', Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
}
.cos-content2-img{
    height: 300px;
}
.cos-content3{
    margin: 40px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cos-content3-p{
    color: #ffffff;
    font-family:'montserrat', Helvetica, sans-serif;
    font-weight: 300;
    text-align: right;
}
.cos-content3-img{
    height: 300px;
}