.home-video {
    width: 120vw;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(5%);
}

.hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}

.club-logo {
    width: 500px;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .club-logo {
        width: 350px;
        height: 350px;
    }
    
}

/* .home-content-h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 8rem;
    font-weight: 900;
    color: rgb(236, 195, 11);
} */

.hero-p {
    margin-top: 4vh;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(226, 171, 52);
}


.home-main {
    padding: 10vh 15vw;
    background-color: rgb(0, 0, 0);
    color: white;
}
.home-main > h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2vh;
    text-align: center;
    color: rgb(226, 171, 52);
}

.home-main > p {
    font-size: 1.3rem;
    margin-bottom: 2vh;
    text-align: justify;
}

.section-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 14vh;
    margin-bottom: 14vh;
    max-height: 30vh;
    padding: 3vh 3vw;
}

.float-image {
    max-width: 30vw;
}

.float-image > img {
    width: 100%;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    box-shadow: 0px 0px 5px 0px #000000;
}

@media screen and (max-width: 500px) {
    .section-images {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4vh;
        margin-bottom: 4vh;
        max-height: fit-content;
    }
    .float-image > img {
        width: 80vw;
        max-width: 80vw;
    }
}

.tilt-back-right {
    transform: rotate(-5deg);
    transition: ease-in-out 0.5s;
}

.tilt-back-left {
    transform: rotate(5deg);
    transition: ease-in-out 0.5s;
}
.tilt-back-right:hover, .tilt-back-left:hover {
    transform: rotate(0deg);
}

.polaroid-border {
    border: #ffffff 10px solid;
    border-bottom: #ffffff 25px solid;
}

@media screen and (max-width: 768px) {
    .home-main {
        padding: 10vh 7vw;
    }
    .home-main > h1 {
        text-align: left;
        font-size: 2rem;
    }
    .home-main > p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 450px){
    .home-video {
        width: 150%;
        top:50%;
        height: 100%;
    }
}

@media screen and (max-width: 350px){
    .home-video {
        width: 400%;
        top:25%;
        height: 100%;
    }
}