.home-video {
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    filter: brightness(30%);
}

.home-content {
    text-align: center;
    height: 500px;
}

.home-content-h1 {
    margin-top: 300px;
    margin-bottom: 0px;
    font-size: 100px;
    font-weight: 900;
    font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(236, 195, 11);
}

.home-content-p {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(226, 171, 52);
}

.home-content-btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.home-content2 {
    margin-top: 500px;
}

.home-content-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: aliceblue;
    background-color: transparent;
    position: fixed;
    top: 50%;
    left: 95%;
}

.home-content-nav-span {
    font-size: 40px;
    font-weight: 500;
    font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c45252;
}

.home-content-nav-span:hover {
    color: #ffffff;
}

.home-content-nav-spana {
    font-size: 40px;
    font-weight: 500;
    font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}

.home-main {
    background-color: rgb(0, 0, 0);
    height: 1000px;
    margin-top: 10px;
    margin-right: 90px;
    display: block;
}

.home-main-aim-h1 {
    margin-top: 60px;
    margin-left: 100px;
    font-size: 50px;
    font-weight: 500;
    font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

.home-main-aim-p {
    max-width: 1200px;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 20px;
    font-weight: 500;
    font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

.home-b1 {
    display: none;
}

/* mobile section */
@media only screen and (max-device-width: 480px) {

    /* css for mobile section */
    .home-video {
        height: 300px;
        width: 300px;
        top: auto;
    }

    .home-content {
        text-align: center;
        height:auto;
    }

    .home-content-nav {
        display: none;
    }

    .home-content-h1 {
        margin-top: 200px;
        font-size: 50px;
    }

    .home-b1 {
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .home-b2 {
        margin-top:400px ;
        display:flex;
        margin-left:30px;
    }

    .home-b1-btn {
        display: block;
        padding: 20px;
        border: 3px solid rgb(255, 255, 255);
        background: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: 'Montserrat', Courier, monospace;
    }

    .home-b1-btn:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    .home-main-aim-p {
        max-width: 350px;
        margin-top: 0px;
        margin-left: 30px;
        font-size: 17px;
        font-weight: 500;
        font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 255, 255);
    }

    .home-main-aim-h1 {
        margin-top: 60px;
        margin-left: 30px;
        font-size: 40px;
        font-weight: 500;
        font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 255, 255);
    }
}