.cs{
    margin-top: 200px;
    color:rgb(204, 224, 21);
    font-size: 100px;
    font-weight: bold;
    font-family: 'montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


.blog-main{
    background-color: rgb(255, 255, 255);
    display:grid;
    grid-template-columns: 1fr 280px 280px 280px 280px 1fr;
    justify-items: center;
}



.big-blog-main{
    grid-column:1/7;
    max-width: 1000px;
    display:block;
    justify-content: center;
    align-items: center;
}
.big-blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.big-blog-image{
    width: 100%;
    height: 100%;
    border-radius: 2.5%;
}
.big-blog-img{
    grid-row: 1/3;
}
.big-blog-h1{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.big-blog-p{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    font-family: 'montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.big-blog-text-p{
    padding: 5px;
    margin-top:0px;
}
.big-blog-text-h1{
    padding: 5px;
}
.big-blog-button{
    padding:5px;
}



.small-blog-main{
    max-width: 1000px;
    margin-top: 5px;
    grid-column: 2/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.small-blog{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
}
.small-blog-image{
    width: 100%;
    height: 100%;
    border-radius: 2.5%;
}
.small-blog-img{
    grid-row: 1/3;
}
.small-blog-h1{
    /* background-color: rgb(255, 255, 255); */
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.small-blog-p{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    font-family: 'montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.big-blog-text-p{
    padding: 1px;
    margin-top:0px;
}
.small-blog-text-h1{
    padding: 1px;
}
.small-blog-button{
    padding:1px;
}