.read-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.read-blog h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.read-blog h2 {
    text-decoration: underline;
    text-transform: capitalize;
    text-decoration-color: rgb(218, 173, 77);
}

.read-blog p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.read-blog img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.back-link {
    text-decoration: none;
    font-size: 1.1rem;
    align-self: flex-start;
    font-style: italic;
    color: azure;
}

.back-link:hover {
    text-decoration: underline;
    color: rgb(218, 173, 77);
}

@media screen and (max-width: 768px) {
    .read-blog {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .read-blog h1 {
        font-size: 3rem;
    }

    .read-blog p {
        font-size: 1.2rem;
    }
    
}