.roc-img{
    width: 100%;
    height:auto;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    filter: brightness(70%);
}
.roc-tit{
    text-align: center;
}
.roc-tit-h1{
    margin-top: 170px;
    margin-bottom: 40px;
    font-size: 100px;
    font-family: 'Montserrat', Courier, monospace;
    color:rgb(255, 255, 255);
}
.roc-tit-btn{
    padding:20px;
    border: 3px solid rgb(255, 255, 255);
    background: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Montserrat', Courier, monospace;
}
.roc-tit-btn:hover{
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.roc-content{
    margin-top: 400px;
}
.roc-content-main-h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Montserrat', Courier, monospace;
}
.roc-content-main-p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: 'Montserrat', Courier, monospace;
}
.roc-content2{
    margin: 40px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.roc-content2-p{
    color: #ffffff;
    font-family:'montserrat', Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
    margin-right: 50px;
}
.roc-content2-img{
    height: 300px;
}
.roc-content3{
    margin: 40px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.roc-content3-p{
    color: #ffffff;
    font-family:'montserrat', Helvetica, sans-serif;
    font-weight: 300;
    text-align:left;
    margin-left: 50px;
}
.roc-content3-img{
    height: 300px;
}

@media only screen and (max-width: 1120px) {
    .roc-tit-h1 {
        font-size: 75px;
    }

    .roc-tit-p {
        font-size: 50px;
    }

    .roc-content{
        margin-top: 200px;
    }
    
    .roc-content2, .roc-content3 {
        margin: 0;
        margin-bottom: 20px;
    }
    .roc-content-p, .roc-content2-p, .roc-content3-p {
        font-size: 22px;
        margin-left:0;
    }
    .roc-content2, .roc-content3 {
        flex-wrap: wrap;
    }
    .roc-content2-img, .roc-content3-img {
        height: 250px;
    }
}

@media only screen and (max-width: 650px) {
    .roc-tit-h1 {
        font-size: 70px;
    }

    .roc-tit-p {
        font-size: 17px;
    }

    .roc-content-p, .roc-content2-p, .roc-content3-p {
        font-size: 17px;
    }

    .roc-content2-img, .roc-content3-img {
        height: 200px;
    }
}

@media only screen and (max-width: 550px) {
    .roc-tit-h1 {
        font-size: 60px;
        font-weight: 700px;
    }

    .roc-tit-p {
        font-size: 15px;
    }

    .roc-tit-btn{
        display: none;
    }

    .roc-content-p, .roc-content2-p, .roc-content3-p {
        font-size: 15px;
    }

    .roc-content2-img, .roc-content3-img {
        height: 150px;
    }

    .roc-content-main-h1{
        margin-top: 350px;
        font-size:40px;
    }

    .roc-img{
        height:600px;
        width: auto;
        position:absolute;
        transform: translate(-27%,10%);
        z-index: -1;
        filter: brightness(50%);
    }
}