.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

@media screen and (max-width: 768px){
    .main{
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
.team-img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    height: 100%;
    width: 100%;
    filter: blur(2px);
}
.team{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.team-head{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.team-1{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.team-1-h1{
    /* color: rgb(0, 0, 0); */
    font-size: 50px;
    font-weight: 700;
}
.card{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    margin: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.card-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    height:175px;
    min-width: 175px;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
}
.card-content{
    margin: 5px;
}
.card-content-h1{
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', Courier, monospace;
}
.card-content-h2{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Montserrat', Courier, monospace;
}
.card-content-icons{
    margin:5px;
    margin-top:0px;
    margin-bottom: 0px;
}


/* mobile section */
@media only screen and (max-device-width: 480px) {

    /* css for mobile section */
    .main{
        height:6100px;
    }
    .card{
        margin: 20px;
        min-width: 370px;
        max-width: 300px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.089);
        display: flex;
    }
    .card-img{
        height:120px;
        min-width: 120px;
        border-radius: 10px 10px 10px 10px;
        margin: 30px;
    }
    .card-content{
        margin: 1px;
    }
    .card-content-h1{
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Montserrat', Courier, monospace;
    }
    .card-content-h2{
        margin-top: 0px;
        font-size: 16px;
        font-weight: 200;
        font-family: 'Montserrat', Courier, monospace;
    }
    .card-content-icons{
        margin:3px;
        margin-top:0px;
        margin-bottom: 0px;
    }
    .team-1{
        display:flex;
        flex-wrap: wrap;
        max-width:500px;
    }
    .team-head{
        /* background-color: #000000; */
        display:flex;
        margin-left: 20px;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Montserrat', Courier, monospace;
    }
}