.team{
    background-color: #000000;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.team-head{
    background-color: #000000;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #07f1ca;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', Courier, monospace;
}
.team-1{
    display:flex;
    flex-wrap: wrap;
    max-width:1100px;
}
.team-1-h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', Courier, monospace;
}
.card{
    margin: 20px;
    min-width: 500px;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.089);
    display: flex;
}
.card-img{
    height:140px;
    min-width: 140px;
    border-radius: 10px 10px 10px 10px;
    margin: 30px;
}
.card-content{
    margin: 5px;
}
.card-content-h1{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', Courier, monospace;
}
.card-content-h2{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Montserrat', Courier, monospace;
}
.card-content-icons{
    margin:5px;
    margin-top:0px;
    margin-bottom: 0px;
}


/* mobile section */
@media only screen and (max-device-width: 480px) {

    /* css for mobile section */
    .card{
        margin: 20px;
        min-width: 370px;
        max-width: 300px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.089);
        display: flex;
    }
    .card-img{
        height:120px;
        min-width: 120px;
        border-radius: 10px 10px 10px 10px;
        margin: 30px;
    }
    .card-content{
        margin: 1px;
    }
    .card-content-h1{
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Montserrat', Courier, monospace;
    }
    .card-content-h2{
        margin-top: 0px;
        font-size: 16px;
        font-weight: 200;
        font-family: 'Montserrat', Courier, monospace;
    }
    .card-content-icons{
        margin:3px;
        margin-top:0px;
        margin-bottom: 0px;
    }
    .team-1{
        display:flex;
        flex-wrap: wrap;
        max-width:500px;
    }
    .team-head{
        background-color: #000000;
        display:flex;
        margin-left: 20px;
        color: #07f1ca;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Montserrat', Courier, monospace;
    }
}