body {
  margin: 0;
  font-family: "montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}

/* mobile section */
@media only screen and (max-device-width: 480px){
  /* css for mobile section */
  body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}
body{
  position: relative;
}
a {
  -webkit-tap-highlight-color: transparent !important;
  
  outline: none !important; }
}
